bundle/PIV/
bundle/ctrlp.vim/
bundle/editorconfig-vim/
bundle/syntastic/
bundle/taglist.vim/
bundle/ultisnips/
bundle/undotree/
bundle/vim-airline/
bundle/vim-css3-syntax/
bundle/vim-fugitive/
bundle/vim-javascript/
bundle/vim-less/
bundle/vim-markdown/
bundle/vim-php-namespace/
bundle/vim-signify/
bundle/vim-snippets/
bundle/vim-tomorrow-night/